i{
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    margin-left: -10px;
    
}

.wrapper {
  width: 83%;
  margin-left: 17%;
  padding: 10%; 
  height: auto; 
  /* background-color: white; */
  
}


.conty{
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: start;
    margin-left: 0%;
    padding-left: 10px;
    text-align: left;
}

.circ {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  /* background-color: blue; */
}

.card{
    background-color: rgb(231, 231, 231) !important;
    margin-bottom: 20px;
}

.conty h5{
    margin-top: 10px;
    margin-bottom: 30px;
}