.navb{
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfp{
    border-radius: 50%;
    width:60%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-top: 20%;
}

.navb .nav-link {
  color: black !important;
  border-bottom-color: transparent !important;
}

.navb .nav-link:hover {
  border-bottom-color: var(--bs-primary) !important;
}

.navb .nav-link:active {
  color: var(--bs-primary) !important;
  border-bottom-color: var(--bs-primary) !important;
}

nav{
    margin-top: 10%;
    align-items: center;
}

.nav-name{
    margin-top: 10%;
    margin-bottom: 3%;
}