.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    justify-content: center;
}
.square{
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    margin-left: 0px;
}

p{
    margin: 0px;
}

.eb3ed{
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.carousel-wrapper {
  position: fixed;
  right: 0;   
  top: 0;
  bottom: 0; 
  width: 83%;  
  height: 100%;
  overflow: hidden;  
  margin:0px;           
  margin-left: 17%;     
}
