i{
    padding: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 10px;
}

.wrapper {
  position: fixed;
  right: 0;   
  top: 0;
  bottom: 0;   
  width: 83%;  
  height: 100%;
  overflow: hidden;  
  margin:0px;           
  margin-left: 17%;     
  align-items: start;   
  padding: 10%;          
}

.conty{
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: start;
    margin-left: 0%;
    padding-left: 10px;
    text-align: left;
}
