.conty{
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: start;
    margin-left: 0%;
    /* padding-left: 10px; */
    text-align: left;
}

.conty h5{
    margin-top: 20px;
    margin-bottom: 20px;
}

.start-75 { left: 70%; }
.start-60 { left: 55%; }
.start-85 { left: 80%; }
.start-90 { left: 85%; }
.start-70 { left: 65%; }
.start-80 { left: 75%; }
